* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
    list-style: none;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

